pkgbase = fresh-editor
	pkgdesc = A lightweight, fast terminal-based text editor with LSP support and TypeScript plugins
	pkgver = 0.4.7
	pkgrel = 2
	url = https://sinelaw.github.io/fresh/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cargo
	makedepends = clang
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = xz
	conflicts = fresh-editor-bin
	options = !lto
	source = fresh-editor-0.4.7-source.tar.gz::https://github.com/sinelaw/fresh/releases/download/v0.4.7/fresh-editor-0.4.7-source.tar.gz
	sha256sums = e313fdf0eb01aa8b5c024218241a153999ec9c8ba538ad1ba41f407c884b22c0

pkgname = fresh-editor
